.header{
    height:  9vh;
    width: 100%;
   
    
}
.logo{
    width: 200px;
    height: 50pxx;
    border-radius: 10px;
   
}
.logo:hover{
    box-shadow: rgb(245, 245, 245) 0px 5px 15px;
    transition: 0.3s;
}
nav{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul,li{
    display: inline;
    padding: 0em;
    margin: 0em;
}
.button{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
 
 }
 .button:hover{
     background-color: aliceblue;
     color: rgb(171, 30, 30);
     box-shadow: rgb(245, 245, 245) 0px 5px 15px;
     transition: 0.3s;
 }
 .button-featured{
    border: 1px solid rgba(3, 3, 11, 0.919);
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
 
 }
 .button-featured:hover{
     background-color: rgb(12, 40, 221);
     color: rgb(171, 30, 30);
     box-shadow: rgb(245, 245, 245) 0px 5px 15px;
     transition: 0.1s;
     margin-top: -4px;
 }







 body{
    background-color: black;
    justify-content: center;
 
  
    
}

.firstheading{
    color: white;
    font-size: 40;
}
.firstimage{
    width: 400px;
    height: 400px;
    border-radius: 40%;
}
.firstpage{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top:50px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
   font-size: xx-large;
}

.pannel1{
    background-color: white;
    border-radius: 10px;
    padding: 15px 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    
    
    
}

@media(min-width:900px){
    .pannel1{
        flex-direction: row;
    }
}
.listitem{
    margin: 50px 0px 25px;
    color: rgb(3, 41, 28);

}
.list-item{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    border-top: 1px solid black;


}
.list-item:last-child{
    border-bottom: 1px solid black;
}

.sources_header{
    color: white;
    font-size: large;
}
.sources_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px 30px;
    max-width: 950px;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 250px;
    
}

.sources_button{

   
    padding: 40px 40px;
    color: rgb(15, 148, 244);
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 1px solid rgb(1, 0, 0);
   
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
 

}

