.call{ 
background-color: rgb(224, 206, 206);
height: 100px;
weight: 50px; ;
}
.abhi{
    background-color: aquamarine;
    width: 80%;
    height: 45%;

.go{
    background: red;
    initial-value:center;
}
.cc{
    background-color: greenyellow;
}
.rr{
    
    background-color:plum;
    


}
.ab{
    background: gold;
}